a {color:green;}
a:hover {color:#000;text-decoration:none;}
.grey {color:gray;}

h1 {text-transform:uppercase;font-size:2rem;}

.yellow {color:#FFF200;}
.green {color:#4AB969;}
.dgreen {color:#4B7C4E;}
.blue {color:#80D3F3;}
.grey {color:#cccccc;}

.bg-yellow {background-color:#FFF200;}
.bg-green {background-color:#4AB969;}
.bg-dgreen {background-color:#4B7C4E;}
.bg-blue {background-color:#80D3F3;}
.bg-grey {background-color:#cccccc;}

.movie .info li {display:inline-block;margin:0 5px;padding:0 5px;}
.movie .date {background-color:#B1B1B1B1;color:#FFFFFF;}
.movie .time {background-color:#FFF200;}
.movie .location {background-color:#4AB969;color:#FFFFFF;}
.movie .duration {background-color:#80D3F3;color:#FFFFFF;}

.program .card {background-color:#EFEFEF;border:none;border-radius:0px;}
.program .day {border-bottom:1px solid #95989A;border-top:1px solid #95989A;padding:20px 0;text-transform:uppercase;font-size:1.4rem;}
.program .day1 {font-size:.85rem;}
.program .time {position:absolute;display:block;width:60px;left:calc(50% - 30px);top:0;background-color:#FFF200;text-align:center;}
.program .time2 {position:absolute;display:block;width:60px;left:calc(50% - 30px);top:0;background-color:#EFEFEF;text-align:center;}
.program .location {position:absolute;display:block;right:0;bottom:0;color:#FFFFFF;width:160px;height:44px;text-align:right;padding:17px 5px 0 0;}
.program .location.kapel {background: url('../img/kapel.png') bottom right;}
.program .location.marca {background: url('../img/marca.png') bottom right;}

.card-title {font-size:1.1rem;}
.card a {color:inherit;}

.footer {background: url('../img/footer.png') 50% top no-repeat;height:340px;background-size:cover;}
.footer .nav {padding-top:270px;}
.footer .nav a {color:#FFFFFF;}