---
title: Locaties
permalink: locaties
layout: default
---

<section>
  <div class="container">
    <div class="row text-center pb-4">
      <div class="col">
        <h1>Locaties</h1>
        <p>Blikveld slaat zijn tenten op in Maarke-Kerkem, in het hart van de Vlaamse Ardennen. Voor de echte publiekstrekkers verwelkomen we jullie in het vernieuwde gemeenschapscentrum Marca, voor intiemere affiches wijken we uit naar de Sint-Vincentiuskapel, op amper tien minuten wandelafstand. </p>
        <p>Met speciale dank aan de gemeente Maarkedal.</p>
    <p class="text-center"><a href="https://www.maarkedal.be/" rel="external" title="maarkedal"><img src="{{site.baseurl}}/img/sponsor-maarkedal.png" alt="maarkedal" /></a></p>
      </div>
    </div>
    <div class="row program">
      <div class="col-sm-6 mb-4">
        <div class="loc bg-green white">
          <img src="{{site.baseurl}}/img/marca.jpg" alt="marca" class="img-fluid" />
          <h5 class="text-uppercase text-center pt-2">Marca</h5>
          <p class="text-center">Het Marca is het cultuurhuis van Maarkedal, gevestigd in de voormalige Sint-Eligiuskerk van deelgemeente Maarke. Voorjaar 2018 opent Marca na een ingrijpende renovatie opnieuw de deuren. Blikveld is trots één van de eerste grote evenementen te mogen verzorgen in deze gloednieuwe ruimte – de perfecte accommodatie voor cultuurliefhebbers.</p>
          <p class="text-center pb-3">Maarkeweg 65 A, 9680 Maarkedal</p>
        </div>
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Vrijdag</span> 20 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "20" and item.location == "MARCA" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Zaterdag</span> 21 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "21" and item.location == "MARCA" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | replace: 'é', 'e' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Zondag</span> 22 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "22" and item.location == "MARCA" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
        
      </div>
      <div class="col-sm-6 mb-4">
        <div class="loc bg-blue white">
          <img src="{{site.baseurl}}/img/kapel.jpg" alt="kapel" class="img-fluid" />
          <h5 class="text-uppercase text-center pt-2">Sint-Vincentiuskapel</h5>
          <p class="text-center">De Sint-Vincentiuskapel dateert uit de 12de eeuw en ligt verheven op de Kapelleberg. Tijdens verscheidene culturele manifestatie (o.a. Midzomerklanken) bewees de kapel een sfeervolle locatie te zijn waar verleden en heden moeiteloos versmelten.</p>
          <p class="text-center pb-3">Kapelleberg, 9680 Maarkedal</p>
        </div>
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Vrijdag</span> 20 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "20" and item.location == "KAPEL" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Zaterdag</span> 21 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "21" and item.location == "KAPEL" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
        <h3 class="mb-4 text-center day"><span class="day1 d-block">Zondag</span> 22 april</h3>
        {% assign sorted_items = site.films | sort: "time" %}
        {% for item in sorted_items  %}
        {% assign myDate = item.date | date: "%d" %}
        {% if myDate == "22" and item.location == "KAPEL" %}
        <div class="card mb-4">
          <a href="{{ item.url | prepend: site.baseurl }}">
            <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | replace: 'ê', 'e' | downcase }}.png" alt="{{item.title}} ">
            <div class="time pb-1">{{item.time}}</div>
            <div class="card-body">
              <h4 class="card-title mb-1">{{item.title}}</h4>
              <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
              <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
            </div>
          </a>   
        </div>
        {% endif %}
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>
