---
layout: front
---

<section class="program">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-4">Programma</h1>
        <p class="text-center mb-5">Blikveld toont acht grote en kleine klassiekers voor jong en oud. Verhalen over heden en verleden, vriendschap en liefde, ontmoetingen en   afscheid. Films die hun karakter ontlenen aan dit unieke landschap: golvend van emoties, lieflijk of dreigend, kwetsbaar maar overdonderend.</p>
        
        <div class="row">
          <div class="col-md-4 mb-5">
            <h3 class="mb-4 text-center day"><span class="day1 d-block">Vrijdag</span> 20 april</h3>
            <div class="card mb-4">
              <div class="time2 pb-1">18u</div>
              <div class="card-body text-center bg-blue">
                <h4 class="card-title mb-1 pt-3">Receptie in popup café De Lustigen Boer</h4>
              </div>
            </div>
            <!-- MOVIES FRIDAY -->
            {% assign sorted_items = site.films | sort: "time" %}
            {% for item in sorted_items  %}
            {% assign myDate = item.date | date: "%d" %}
            {% if myDate == "20" %}
            <div class="card mb-4">
              <a href="{{ item.url | prepend: site.baseurl }}">
                <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}} ">
                <div class="time pb-1">{{item.time}}</div>
                <div class="card-body">
                  <h4 class="card-title mb-1">{{item.title}}</h4>
                  <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
                  <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
                </div>
              </a>   
            </div>
            {% endif %}
            {% endfor %}
            <!-- // MOVIES -->
          </div>
          <div class="col-md-4 mb-5">
            <h3 class="mb-4 text-center day"><span class="day1 d-block">Zaterdag</span>21 april</h3>
            <!-- MOVIES SATURDAY -->
            {% assign sorted_items = site.films | sort: "time" %}
            {% for item in sorted_items  %}
            {% assign myDate = item.date | date: "%d" %}
            {% if myDate == "21" %}
            <div class="card mb-4">
              <a href="{{ item.url | prepend: site.baseurl }}">
                <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}}">
                <div class="time pb-1">{{item.time}}</div>
                <div class="card-body">
                  <h4 class="card-title mb-1">{{item.title}}</h4>
                  <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
                  <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
                </div>
              </a>   
            </div>
            {% endif %}
            {% endfor %}
            <!-- // MOVIES -->
            <div class="card mb-4">
              <div class="time2 pb-1">22u30</div>
              <div class="card-body text-center bg-green">
                <h4 class="card-title mb-1 pt-3">Late Night Special</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5">
            <h3 class="mb-4 text-center day"><span class="day1 d-block">Zondag</span> 22 april</h3>
            <div class="card mb-4">
              <div class="time2 pb-1">9u</div>
              <div class="card-body text-center bg-yellow">
                <h4 class="card-title mb-1 pt-3">Brunch in De Lustigen Boer</h4>
              </div>
            </div>
            <!-- MOVIES SUNDAY -->
            {% assign sorted_items = site.films | sort: "time" %}
            {% for item in sorted_items  %}
            {% assign myDate = item.date | date: "%d" %}
            {% if myDate == "22" %}
            <div class="card mb-4">
              <a href="{{ item.url | prepend: site.baseurl }}">
                <img class="card-img-top" src="{{site.baseurl}}/img/{{ item.title | replace: ' ', '-' | downcase }}.png" alt="{{item.title}}">
                <div class="time pb-1">{{item.time}}</div>
                <div class="card-body">
                  <h4 class="card-title mb-1">{{item.title}}</h4>
                  <p class="card-text small mb-1">{{item.country}} / {{item.year}} / {{item.director}}</p>
                  <div class="d-block location {{item.location | downcase}}">{{item.location}}</div>
                </div>
              </a>   
            </div>
            {% endif %}
            {% endfor %}
            <!-- // MOVIES -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>