<section class="kiwanis mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{site.baseurl}}/img/logo-kiwanis2.png" class="mx-auto d-block img-fluid" />
      </div>
    </div>
  </div>
</section>

<footer class="footer pb-3">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 ml-auto text-center">
        <ul class="nav d-sm-flex justify-content-center">
          {% for menu in site.navi %}
          <li class="nav-item">
            <a href="{{site.baseurl}}{{menu.url}}" class="nav-link {{active}} {{menu.class}}" rel="{{menu.rel}}">{{ menu.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <small class="copyright text-right">&copy; 2017 - Kiwanis Universus Oudenaarde</small>
      </div>
    </div>
  </div>
</footer>