<nav class="navbar navbar-expand-md container">
  <a class="navbar-brand d-inline-block" href="{{site.baseurl}}/{{page.lang}}">BLIKVELD</a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for menu in site.navi %}
      <li class="text-center">
        <a href="{{site.baseurl}}{{menu.url}}" class="nav-link {{active}} {{menu.class}}" rel="{{menu.rel}}">{{ menu.name }}</a>
      </li>
      {% endfor %}
      <div class="kiwanis">
        <img src="{{site.baseurl}}/img/logo-kiwanis1.png" class="img-fluid" />
      </div>
    </ul>
  </div>
</nav>