<section class="postscript text-center mt-5">
  <div class="container">
    
    <!-- GOLD PARTNERS -->
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="logo"><a href="https://www.safetyjogger.com" title="safety jogger" rel="external"><img src="{{site.baseurl}}/img/sponsor-safetyjogger.png" alt="safety jogger" class="img-fluid"></a></div>
      </div>
      <div class="col-12 col-md-4">
        <div class="logo"><a href="http://www.carrera-motors.be" title="carrera motors" rel="external"><img src="{{site.baseurl}}/img/sponsor-carrera.png" alt="carrera motors" class="img-fluid"></a></div>
      </div>
      <div class="col-12 col-md-4">
        <div class="logo"><a href="http://www.roman.be/" title="ename" rel="external"><img src="{{site.baseurl}}/img/sponsor-ename.png" alt="ename" class="img-fluid"></a></div>
      </div>
    </div>
    
    <!-- SILVER PARTNERS -->
    <div class="row">
      {% for sponsor in site.data.sponsors %}
      <div class="col-6 col-md-2">     
        <div class="logo"><a href="{{sponsor.url}}" title="{{sponsor.name}}" rel="external"><img src="{{site.baseurl}}/img/sponsor-{{sponsor.name}}.png" alt="arijs" class="img-fluid"></a></div>
      </div>
      {% endfor %}
    </div>
      
  </div>
</section>