<section class="postscript text-center mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="logo"><a href="https://revista-media.be/" title="revista" rel="external"><img src="{{site.baseurl}}/img/sponsor-revista.png" alt="revista" class="img-fluid"></a></div>
      </div>
      <div class="col-6 col-md-3">
        <div class="logo">Uw logo hier</div>
      </div>
      <div class="col-6 col-md-3">
        <div class="logo">Uw logo hier</div>
      </div>
      <div class="col-6 col-md-3">
        <div class="logo">Uw logo hier</div>
      </div>
    </div>
  </div>
</section>